.text-popular{
    text-align: center;
    margin-top: 20px;
}
.text-popular h1{
    margin-bottom: 12px;
    font-weight: bold;
    color: rgb(255, 94, 0);
}
.description{
    display: flex;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}
.description-text{
    width: 500px;
}
.description-text h1{
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 94, 0);
}
.description-text p{
    letter-spacing: 2px;
    text-align: center;
}
.img-1{
    object-fit: cover;
}